.count-card{
    background-color:  #e4e7eb;
    height:50px ;
    width: 150px;

}
.input-ele{
    background-color: transparent;
    border-color: #e4e7eb;
    width: 250px;
    height: 48px;
}
.heading{
    color: #1d976c ;
    font-size: 17px;
}
.input-card-container{
    margin-left: 150px;
    top: 560px;
}