*{
  margin: 0px;
} 

.letter-card-container{
  background-color: #93f9b9;
  height: 100vh;
} 

.letter-card{
  display: flex;
  flex-direction: row;
}
.heading{
  color:#ffff;
  font-size: 32px;
  font-family: "Roboto";
}
.image{
  height: 400px;
  width: 370px;
}
.image-card{
  margin-left: 290px;
  margin-top: 50px;
}
.heading-card{
  margin-top: 50px;
  margin-left: 50px;
}