*{
    margin: 0px;
}
.browser-navabar-card-container{
    background-color:  #3367d6;
    height: 100px;
}
.history-image{
    height:40px ;
    width: 140px;
}
 
.browser-navabar-container{
    display: flex;
   
}
.browser-searchinput-card{
    margin-top: 36px;
    margin-left: 3px;
}
.browser-history-image-card{
    margin-top: 29px;
    margin-left: 100px;
} 
.search-input{
    width: 310px;
    height: 29px; 
    background-color: #2850a7;
    border-color:  #2850a7;
    border-width: 0px;
}

.search-icon-card{
    height:29px ;
    width: 19px;
} 
.search-icon-card{
    background-color:  #2850a7;
    height:29px ;
    width: 50px;
    margin-left: 590px;
    margin-top: 37px;
}
.search-icon-img{
   color:  #ececec;
   margin-left: 10px;
}
.browser-items-card{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
    margin: 0; 
}
.history{
    display: flex;
    justify-content: center;
}
.heading{
    font-size: 24px;
    color:  #475569;
}